<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header %>
		<title>YelpCamp</title>
	</head>
	<body>
		<% include partials/navbar %>
		<h2>Landing page!</h2>
		<p>Welcome to YelpCamp</p>
		<a href="/campgrounds">view all campgrounds</a>
		<% include partials/footer %>
	</body>
</html>
