<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header %>
		<title>CampGrounds Page</title>
	</head>
	<body>
		<% include ../partials/navbar %>
		<div class="container">
			<header class="jumbotron">
				<div class="container">
					<h1>Welcome to YelpCamp</h1>
					<p>View our hand-picked campgrounds from all over the world</p>
					<p>
						<a class="btn btn-primary btn-lg" href="/campgrounds/new"
							>create new campground</a
						>
					</p>
				</div>
			</header>
			<div class="row text-center" style="display: flex; flex-wrap: wrap">
				<% campgrounds.forEach(({_id,name,image})=>{ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="<%=image%>" />
						<div class="caption">
							<h4><%= name%></h4>
						</div>
						<p>
							<a class="btn btn-primary" href="/campgrounds/<%= _id %>"
								>more info</a
							>
						</p>
					</div>
				</div>
				<%})%>
			</div>
		</div>
		<% include ../partials/footer %>
	</body>
</html>
